// colors
$color-neutral-black: #222222;
$color-neutral-darkGray: #474d57;
$color-neutral-gray: #707681;
$color-neutral-lightGray: #c6c6c6;
$color-neutral-white: #ffffff;

$color-ghost: transparent;

$color-gunmetal-100: #222831;

$color-turquoise-100: #00fff5;
$color-turquoise-60: #00ccc4;
