@use '../abstract/variables';

$color: (
    text: (
        body: variables.$color-neutral-white,
        button: (
            primary: (
                default: variables.$color-gunmetal-100,
            ),
            secondary: (
                default: variables.$color-turquoise-60,
            ),
            tertiary: (
                default: variables.$color-turquoise-60,
                active: variables.$color-turquoise-100,
            ),
        ),
    ),
    background: (
        body: variables.$color-neutral-black,
        button: (
            primary: (
                default: variables.$color-turquoise-60,
                active: variables.$color-turquoise-100,
            ),
            secondary: (
                default: variables.$color-ghost,
            ),
            tertiary: (
                default: variables.$color-ghost,
            ),
        ),
    ),
    outline: (
        button: (
            primary: (
                default: variables.$color-turquoise-60,
                active: variables.$color-turquoise-100,
            ),
            secondary: (
                active: variables.$color-turquoise-100,
            ),
        ),
    ),
);

$breakpoint: (
    s: 320px,
    m: 764px,
    l: 1016px,
    xl: 1436px,
);

$spacing: (
    '01': 8px,
    '02': 16px,
    '03': 24px,
    '04': 32px,
    '05': 40px,
    '06': 48px,
    '07': 56px,
    '08': 64px,
    '09': 72px,
    '10': 80px,
    '11': 88px,
    '12': 96px,
);

$theme: (
    color: $color,
    breakpoint: $breakpoint,
    spacing: $spacing,
);
